/packagecache/
.wraplock

/MMDevice/
/mmdevice/

# Subprojects installed by meson wrap
/*-*/

# Ignore *.wrap by default (may be auto-installed transitive dependencies)
/*.wrap

# Do not ignore wraps we provide
!/mmdevice.wrap
!/asmjit.wrap
!/blend2d.wrap
!/catch2.wrap
