# Copyright 2025-2026 Board of Regents of the University of Wisconsin System
# SPDX-License-Identifier: BSD-2-Clause

---
BasedOnStyle: LLVM
ColumnLimit: 79
IndentWidth: 4
---
Language: Cpp
BreakStringLiterals: false
...
